.form-control ,.navbar, .btn, .alert, .input-group, .input-group-addon, .jumbotron{
	border-radius: 0;
}
header{
	margin-bottom: 75px;
}
.navbar-brand{
	font-size: 30px;
	font-weight: bold;
}
a:hover{
	cursor: pointer;
	text-decoration: none;
}
.jumbotron{
	background-color: white;
}
.right{
	float: right;
}
.left{
	float: left;
}
.center{
	position:absolute;
    left:50%;
}
.red-text{
	color:red;
}
a{
	text-decoration: none;
}
.ng-error
{ 
	color:red;
}
.pointer{
	cursor: pointer;
}
.black-text{
	color: black;
}
.green-text{
	color: green;
}
.blue-text{
	color: blue;
}
.gray-text{
	color: gray;
}
ol#instructionsList > li{
	line-height: 20px;
}
.space>div>div.row{
	padding-bottom: 6px;

}
.bold-text{
	font-weight: bold;
}
/*#answerExplanation{
	height: 200px;
}*/
.graph{
	height: 400px;
	width: 100%;
}
.content{
  width: 400px;
  word-wrap: break-word
}
.status{
	width: 100px;
}
.comprehensionButton{
	font-size: 20px;
}
#loader{
display : none;
width: 100px;
height: 100px;
position : relative;
z-index: 100;
opacity : 0.80;
left : 0;
bottom : 0;
right : 0;
top : 0;
}
/*.katex { font-size: 1em !important; }*/
.hscroll{
	overflow-x: scroll;
	width: 90%;
}
.hscroll-large{
	overflow-x: scroll;
	width: 95%;
}
.test-button{
	margin: 5px 5px 5px 5px;
}