<div class="container-fluid text-center" ng-if="!error">
<div class="row">
	<div class="panel" style="margin-top: -20px;">
		<div class="row">
			<div class="col-lg-6 col-ms-6 col-sm-6 col-xs-12" style="border-right: solid 2px black;">
				<div class="row"><br><h4><b>User details</b></h4><br></div>
				<table class="table table-responsive border-padding-less">						   
				   	<tbody>
				   	<tr>
				        <td>Result Status </td>
				        <td><h5 class="help-block">{{data.result_status}}</h5></td>
				      </tr>
				      <tr>
				        <td>Username </td>
				        <td><h5 class="help-block">{{data.username}}</h5></td>
				      </tr>
				      <tr>
				        <td>Email </td>
				        <td><h5 class="help-block">{{data.email}}</h5></td>
				      </tr>						      
				      <tr>
				        <td>Marks </td>
				   		<td><h5 class="help-block">{{data.marks_scored}}/{{data.total_marks}} ({{data.marks_scored*100/data.total_marks|number:2}}%)</h5></td>
				      </tr>					      
				      <tr>
				        <td>Attempt No. </td>
				    	<td><h5 class="help-block">{{data.attempt_no}}</h5></td>
				      </tr>
				      <tr>
				        <td>Start Time</td>
						<td><h5 class="help-block">{{data.start_time_IST | epochToDate | date:'medium'}}</h5></td>
				      </tr>
				      <tr>
				        <td>End Time</td>
						<td><h5 class="help-block">{{data.end_time_IST | epochToDate | date:'medium'}}</h5></td>
				      </tr>	
				   	</tbody>
				</table>
			</div>
			<div class="col-lg-6 col-ms-6 col-sm-6 col-xs-12">
				<div class="row"><br><h4><b>Quiz details</b></h4><br></div>
				<table class="table table-responsive border-padding-less">						   
				   	<tbody>
				      <tr>
				        <td>Quiz Name </td>
				        <td><h5 class="help-block">{{data.quiz_name}}</h5></td>
				      </tr>
				      <tr>
				        <td>Quiz Key </td>
				        <td><h5 class="help-block">{{data.test_key}}</h5></td>
				      </tr>						      
				      <tr>
				        <td>Total Questions </td>
				   		<td><h5 class="help-block">{{data.total_questions}}</h5></td>
				      </tr>						      
				      <tr>
				        <td>Passing %age </td>
				    	<td><h5 class="help-block">{{data.passing_percentage}}</h5></td>
				      </tr>	
				   	</tbody>
				</table>
			</div>
		</div>
	</div><br>
	<div class="row">
		<div class="row text-center"><h4><b>Section wise distribution</b></h4><br></div>
		<div class="row">
			<div class="col-lg-1 col-md-1"></div>
			<div class="col-lg-3 col-md-3 text-center">
				<div id="sectionWiseCorrectContainer" style="height: 350px; width: 100%;"></div>
			</div>
			<div class="col-lg-3 col-md-3 text-center">
				<div id="sectionWiseIncorrectContainer" style="height: 350px; width: 100%;"></div>
			</div>
			<div class="col-lg-3 col-md-3 text-center">
				<div id="sectionWiseUnattemptedContainer" style="height: 350px; width: 100%;"></div>
			</div>
			<div class="col-lg-1 col-md-1"></div>
		</div>
	</div><hr><br>
	<div class="row">
		<div class="row text-center"><h4><b>Category wise distribution</b></h4><br></div>
		<div class="row">
		<div class="col-lg-1 col-md-1"></div>
		<div class="col-lg-10 col-md-10">
			<div id="categoryWiseBarGraphContainer" style="height: 400px; width: 100%;"></div>
		</div>
		<div class="col-lg-1 col-md-1"></div>
		</div>
	</div>
</div>
</div>