<div id="warningModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="warningModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="warningModalBody"></p>
      </div>
      <div class="modal-footer" id="warningModalFooter" ng-if="action==='sectionChangeRequestInitiated' || action==='sectionChangeRequestCancelled'">
        <button type="button" class="btn btn-warning" data-dismiss="modal" id="warningModalOKButton" ng-click="changeSection(currentSection)">Yes I am sure.</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="openWarningModal('sectionChangeRequestCancelled')">Cancel</button>
      </div>
      <div class="modal-footer" id="warningModalFooter" ng-if="action==='submitTestRequestInitiated' || action==='submitTestRequestCancelled'">
        <button type="button" class="btn btn-warning" data-dismiss="modal" id="warningModalOKButton" ng-click="submitTestDetails(true, currentSection)">Yes I am sure.</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="openWarningModal('submitTestRequestCancelled')">Cancel</button>
      </div>
    </div>
  </div>
</div>